@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed);

body {

/*  background-image: url(images/road.jpg);*/
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  width: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;;
  -webkit-font-smoothing: antialiased;

}

h1, h2, h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;;
}

header {
width: 100%;
height: 50px;
background-color: #333333;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*.search-bar {
  float: left;
}*/

.top-area {
  margin: 0 auto 100px;
  margin: 20px auto 0;
  text-align: center;
  padding: 50px 0 0 0;
  height: 120px;
}



.profile-btn {
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  position: relative;
    z-index: 1;
}

.photo {
  border-radius: 50%;
}

.section__body {
  z-index: 1;
  background: #ffffff;
  margin: 0 auto 100px;
  margin: 0 auto;
  padding: 45px 0 10px 0;
  text-align: center;
}


.map-area {
  text-align: center;
  background-color: #fff;
  margin: 0 auto 100px;
  margin: 0 auto;
}

#map {
  height: 400px;
}

/*          blog post area edit       */
.blog-post-display {

  background: #ffffff;
  margin-top: 20px;
  padding: 10px 0 40px 0;
  text-align: center;
  height: 350px;
}

.blog-post-display .post-thumb {
  float: left;
  padding: 20px;
}



  /*==========================================================*/

#uploadButton{
  position: absolute;
  top: 300px;
  right: 260px;
}




.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  display: none;
}


