

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {

	background-image: url();
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
/*  background: #376ec6
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      */
}

img {
	left: auto;
	top: auto;
	z-index: -1; 

}


.jumbotron {
	background-color: white;
	color: black;
}


.panel-default {
	border-color: black;
	border-width: 2px;
}

.panel-default>.panel-heading {
	background-color: black;
	color: white;
}


.backgroundColorPaint{
	background-color: black;
	text-align: center;
	padding: 10px;
}





#map_editing {
	height: 400px;
	width: 100%;
}

#addButton {

}



#previewPhotoContainer {
}

#preview{
/*	border-style: solid;
	border-color: red;
	border-width: 2px;*/
}

#gettingImgFile {
	text-align: center;
}

textarea{
	overflow: hidden;
	display:block;
	width: auto;
	width: 100%;
	resize: none;
}



#finalButton{
	margin: 30px;
	
}
